# This is for a hsqldb Server running with default settings on your local
# computer (and for which you have not changed the password for "sa").
urlid shareurldb
url jdbc:hsqldb:hsql://localhost:9996/shareurldb
username sa
password