/**
 * Copyright 2012, Board of Regents of the University of
 * Wisconsin System. See the NOTICE file distributed with
 * this work for additional information regarding copyright
 * ownership. Board of Regents of the University of Wisconsin
 * System licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
	font: normal 100%/1.5 "Lucida Grande", Verdana, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 2px;
}

a {
	color: #B70101;
	text-decoration: none;
}

img {
	border: 0;
}

#content {
	font-size: 82%;
}

.label {
	font-weight: bold;
}

.summary {
	padding-left: 1em;
}

.nowshowing {
	padding-left: 1em;
	padding-right: 1em;
}

.navrow1 {
	padding-left: 1em;
}

.weak {
	color: #777;
	font-style: italic;
}

.navrow2 {
	padding-left: 4em;
}

.sharedaterange {
	max-width: 240px;
	text-align: center;
	word-spacing: 0.75em;
	background-color: #DDD;
	color: #000
}